/**
 * Backend styling only.
*/
.proclaim{
	text-transform:uppercase;
	font-size:11px;
	font-weight:bold;
}
fieldset{
	clear:both;
}
#admin_navigation{
    padding: 10px;
    color: #111;
    text-transform: uppercase;
    font-family: roboto;
    font-weight: bold;
    position:relative;
    bottom:23px;
    margin-bottom: -20px;
}
#admin_navigation a{
	font-size:17px;
	margin:0 5px 0 5px;
	display:inline-block;
}
.black-gradient{
	
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
}
.black-gradient a{
	color:#eee;
}
.silver-gradient{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfeff+1,e5ebee+50,d7dee3+51,fcfdff+100 */
background: #fcfeff; /* Old browsers */
background: -moz-linear-gradient(top, #fcfeff 1%, #e5ebee 50%, #d7dee3 51%, #fcfdff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fcfeff 1%,#e5ebee 50%,#d7dee3 51%,#fcfdff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fcfeff 1%,#e5ebee 50%,#d7dee3 51%,#fcfdff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfeff', endColorstr='#fcfdff',GradientType=0 ); /* IE6-9 */
}

.silver-gradient a{
	color:#000;
	text-shadow:0 0 1px white;
}.silver-gradient a:hover
{
	color:#0f4;
}
#nav-toolbar
{
	min-height:30px;
	padding-left:10px;
	text-align:right;
}
#save{
	float:right;
	display:inline-block;
}
.green{
	color:#0a0;
}
.orange{
	color:#f70;
}
.red{
	color:red;
}
.blue{
	color:#07f;
}
.rightalign{
	text-align:right;
}
.leftalign{
	text-align:left;
}
.floatleft{
	float:left;
	display:inline-block;
}
.floatright{
	float:right; 
	display:inline-block;
}
.paddingright{
	padding-right:20px;
}
.padding{
	padding:30px !important;
}
.padding-horizontal{
	padding:0 30px 0 30px !important;
}
.blue-facebook{
	color:#3b5998;
}
.red-pinterest{
	color: #C92228;
}
.pointer{
	cursor:pointer;
}
.white{
	color:white !important;
} 
#bottom-controls{
background: rgba(0,0,0,0.4);
    z-index: 1500;
    position: fixed;
    width: 105%;
    bottom: 0;
    left: 0;
    height: 60px;
    padding: 15px 5% 0 0;
}
/**
 * TEMPLATE EDITOR
*/
.u7{
	width:55px;
	margin-bottom:3px;
}
.delete-row{
	position:absolute;margin-left:-21px;margin-top:12px;
	background:white;
	border-radius:10px;
}
.grid-control{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100 */
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
	width:143px ;
    border: 0.5px solid rgba(0,0,0,0.4);
    padding: 3px !important;
    text-transform: uppercase;
    font-size: 10px !important;
    margin-bottom:4px;
}
legend{
	position:relative;top:10px;
}
#viewport{
	background:#ddd;
	float:left;
	width:78%;
	padding:10px;
	min-height:600px;
	
}
	.grid-row-item{
		
	}
	.grid-col-item:hover{
		border:0.1px solid #07f;
		
	}
	.grid-col-item{
		min-height:40px;
		background:#f8f8f8;
		border:0.1px solid rgba(0,0,0,0.2);
	}
	.silver{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100 */
background: #e2e2e2; /* Old browsers */
background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
	}
.input-group-addon .fa{
	position:relative;
	top:0.5px;
}
html{
	padding-bottom:60px;
}
#admin-nav .btn{
	width:26px;
	height:26px;
	margin-bottom:9px;
}
.noborder{
	border:none;
}
.noborder>li{
	border:none;
}
.pointer{
	cursor:pointer;
}
.modal-body audio,
.modal-body video{
	width:100%;
	background: transparent;
}
.modal-dialog.widescreen {
  width: 100%;
  margin: auto;
  padding: 0;
}
.modal-dialog .modal-body{
	padding:5px;
}
.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
.img-responsive{
	width:100%;
	height:auto;
}
#preview-card{
	margin-top:24px;
}
.span20{
	width:20px !important;
	display:inline-block;
}
.span60{
	width:60px !important;
	display:inline-block;
}
.span80{
	width:60px !important;
	display:inline-block;
}
.span100{
	width:60px !important;
	display:inline-block;
}
.span160{
	width:160px !important;
	display:inline-block;
}
#system-clock{
	display:none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    text-align: center;
    z-index: 10;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ffffff 22%, #d1d1d1 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #ffffff 22%,#d1d1d1 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #ffffff 22%,#d1d1d1 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#corporate-identity .logo{
    max-width: 85%;
    max-height: 136px;
    display: block;
    margin: auto;
    float: right;
}
#file-upload + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

#file-upload:focus + label,
#file-upload + label:hover {
    background-color: red;
}
.hidden{
	display:none;
}
.progress-bars{
	margin-top:-7px;
}
#drop{
	text-align:center;
}